<!DOCTYPE html>
{% load static %}
{% comment %} {% load crispy_forms_tags %}   {% endcomment %}

<html lang="en">
<head>
	<title>Change Password</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor\bootstrap\css\bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts\font-awesome-4.7.0\css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor\animate\animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor\css-hamburgers\hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor\select2\select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css\util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css\main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<center>
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="{% static 'img\img-01.png' %}" alt="IMG">
				</div>

                <form onclick="return resetValidate()" action="{% url 'changepassword' %}" method="post" id="logform" name="logform">
                    <span class="login100-form-title">
						Change Password
					</span>

        
                        {% comment %} {% include 'Message.html' %} {% endcomment %}
                        {% csrf_token %}
                       

                    <div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" id="current_password" name="current_password" placeholder="Current Password" onkeyup="npasswordValidation(this)">
						<span class="new" id="crnt-passwd"> </span>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					 <div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password"  id="new_password" name="new_password" placeholder="New Password" onkeyup="passwordValidation(this)">
						<span class="new" id="new-passwd"> </span>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" id="confirm_passwords" name="confirm_password" placeholder="Retype Password" onkeyup="cpasswordValidation(this)">
						<span class="new" id="confirm-passwd"> </span>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Change Password
						</button>
					</div>
					{% comment %} <div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
						<a class="txt2" href="#">
							Username / Password?
						</a>
					</div>

					<div class="text-center p-t-136">
						<a href="{% url 'user_reg' %}">Create your Account</a>
					
						</a>
					</div> {% endcomment %}
				</form>
		    </div>
	  </center>
   </div>
	<script type="text/javascript">
        function resetValidate() {

            var val = document.getElementById('current_password').value;
            if(val=="")
            {
                document.getElementById('crnt-passwd').innerHTML="**Password can't be null!!";
                return false;
            }
            else{
                document.getElementById('crnt-passwd').value = "";
            }
             
            var val = document.getElementById('new_password').value;
            if(val=="")
            {
                document.getElementById('new-passwd').innerHTML="**Password can't be null!!";
                return false;
            }
            else{
                document.getElementById('new-passwd').value = "";
            }
            if (!val.match(/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}/)) 
            {
                document.getElementById('new-passwd').innerHTML="**Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters'";
                return false;
            }
            else{
                document.getElementById('new-passwd').value = "";
            }

            var val = document.getElementById('confirm_passwords').value;
            if(val=="")
                {
                    document.getElementById('confirm-passwd').innerHTML="**Password can't be null!!";
                    return false;
                }
                else{
                document.getElementById('confirm-passwd').value = "";
            }

            if(val != document.getElementById('new_password').value){
            document.getElementById('confirm-passwd').innerHTML="**passwords should be matching";
            return false;
            }
            else{
            document.getElementById('confirm-passwd').innerHTML="";
            }
    }
      

    function npasswordValidation(inputTxt){
    
    var textField = document.getElementById("crnt-passwd");
        
    if(inputTxt.value != '' ){
        textField.textContent = '';
        textField.style.color = "green";  
    }else{
        textField.textContent = '**Password cannot be null!!';
        textField.style.color = "red";
    }
}



        function passwordValidation(inputTxt){
    
        var regx = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}/;
        var textField = document.getElementById("new-passwd");
            
        if(inputTxt.value != '' ){
                if(inputTxt.value.match(regx)){
                    textField.textContent = '';
                    textField.style.color = "green";
                        
                }else{
                    textField.textContent = 'Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters';
                    textField.style.color = "red";
                }    
        }else{
            textField.textContent = '**Password cannot be null!!';
            textField.style.color = "red";
        }
    }

    function cpasswordValidation(inputTxt){
    
    var regx =  document.getElementById("confirm_passwords").value;
    var regy =  document.getElementById("new_password").value;
    var textField = document.getElementById("confirm-passwd");
        
    if(inputTxt.value != '' ){
            if(regx == regy){
                textField.textContent = '';
                textField.style.color = "green";
                    
            }else{
                textField.textContent = '**password should be matching';
                textField.style.color = "red";
            }    
    }else{
        textField.textContent = '**Password cannot be null!!';
        textField.style.color = "red";
    }
}


    </script>

    

	
<!--===============================================================================================-->	
    <script src="{% static 'vendor\jquery\jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor\bootstrap\js\popper.js' %}"></script>
	<script src="{% static 'vendor\bootstrap\js\bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor\select2\select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor\tilt\tilt.jquery.min.js' %}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'js\logmain.js' %}"></script>

</body>
</html>





