<!doctype html>
{% load static %}
<!-- 
* Bootstrap Simple Admin Template
* Version: 2.1
* Author: Alexis Luna
* Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Card-Library</title>
    <link href="{% static 'vendor/fontawesome/css/fontawesome.min.css'%}" rel="stylesheet">
    <link href="{% static 'vendor/fontawesome/css/solid.min.css'%}" rel="stylesheet">
    <link href="{% static 'vendor/fontawesome/css/brands.min.css'%}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/master.css'%}" rel="stylesheet">
    <link href="{% static 'vendor/flagiconcss/css/flag-icon.min.css'%}" rel="stylesheet">
   
</head>
        
<body>
    <div class="wrapper">
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <img src="{% static 'img/logoooo.png'%}" alt="bootraper logo" class="app-logo">
            </div>
            <ul class="list-unstyled components text-secondary">
                <li>
                    <a href=""><i class="fas fa-book-reader"></i>Book issue Details</a>
                </li>
                <li>
                    <a href="{% url 'LibrarianComplaintView' %}"><i class="fas fa-file-alt"></i> Complaints</a>
                </li>
                <li>
                    <a href="#authmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-book"></i> Books</a>
                    <ul class="collapse list-unstyled" id="authmenu">
                        <li>
                            <a href="{% url 'LibrarianAddBook' %}"><i class="fas fa-plus"></i> Add Books</a>
                        </li>
                        <li>
                            <a href="{% url 'booktable' %}"><i class="fas fa-list"></i> Book List</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pagesmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-money-bill"></i> Payment Details</a>
                    <ul class="collapse list-unstyled" id="pagesmenu">
                        <li>
                            <a href="404.html"><i class="fas fa-rupee-sign"></i> Book penalty details</a>
                        </li>
                       
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="body" class="active">
            <!-- navbar navigation component -->
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                <button type="button" id="sidebarCollapse" class="btn btn-light">
                    <i class="fas fa-bars"></i><span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ms-auto">
                        <!-- <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                <a href="#" id="nav1" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-link"></i> <span>Quick Links</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end nav-link-menu" aria-labelledby="nav1">
                                    <ul class="nav-list">
                                        <li><a href="" class="dropdown-item"><i class="fas fa-list"></i> Access Logs</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-database"></i> Back ups</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-cloud-download-alt"></i> Updates</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-user-shield"></i> Roles</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li> -->
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                {% if request.user.is_authenticated %}
                                <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user"></i> <span>{{request.user.first_name}}</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                                    <ul class="nav-list">
                                        <li><a href="" class="dropdown-item"><i class="fas fa-address-card"></i> Profile</a></li>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-envelope"></i> Messages</a></li>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-cog"></i> Settings</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a href="{% url 'logout' %}" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                                        {% else %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav>
                <!-- .navbar -->
                <a href="{% url 'login' %}">Login</a>
                {% endif %}
                      
                </div>
            </nav>
            <!-- end of navbar navigation -->
            
            <div class="content">
                <div class="container">
                    {% include 'alert.html' %}
								  <script>
									  setTimeout(function(){
										if ($('#msg').length > 0){
										  $('#msg').remove();
										  }
										},2900)
								  </script>
                    <div class="page-title">
                        <h3>Add Books</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header"></div>
                                <div class="card-body">
                                    <!-- <h5 class="card-title">Lorem ipsum dolor sit amet consectetur.</h5> -->
                                    <form accept-charset="utf-8" method="POST" action="" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        
                                        <div class="row g-2">
                                          <div class="mb-3 col-md-6">
                                            <label for="password" class="form-label">Book Name</label>
                                            <input type="text" class="form-control" name="book_name" placeholder="Book Name" onkeyup='pincodeValidation(this)' required>
                                          </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="email" class="form-label">Select Book Category </label>
                                                <select class="form-select" name="category" placeholder="Book Category" required>
                                                    {% for c in cat %}
                                                    <option value="{{ c.category_id }}">{{c.category_name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>    
                                        </div>
                                        <div class="row g-2">
                                          <div class="mb-3 col-md-6">
                                            <label for="password" class="form-label">Book Language</label>
                                            <input type="text" class="form-control" name="book_language" placeholder="Book Language" onkeyup='pincodeValidation(this)' required>
                                          </div>
                                          <div class="mb-3 col-md-6">
                                            <label for="password" class="form-label">Book Author</label>
                                            <input type="text" class="form-control" name="book_author" placeholder="Book Author" onkeyup='pincodeValidation(this)' required>
                                          </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="email" class="form-label">Add description about Book</label>
                                            <textarea class="form-control" name="book_desc" rows="3" placeholder="Book description" onkeyup='addressValidation(this)' required></textarea>
                                            <span id="addr" class="new" style="color: red;"></span>
                                        </div>
                                        <div class="row g-2">
                                          <div class="mb-3 col-md-6">
                                            <label for="password" class="form-label">Book Year</label>
                                            <input type="text" class="form-control" name="book_year" placeholder="Book Year" onkeyup='pincodeValidation(this)' required>
                                          </div>
                                          <div class="mb-3 col-md-6">
                                            <label for="password" class="form-label">Book Publisher</label>
                                            <input type="text" class="form-control" name="book_publisher" placeholder="Book Publisher" onkeyup='pincodeValidation(this)' required>
                                          </div>
                                        </div>
                                        <div class="row g-2">
                                            <div class="mb-3 col-md-6">
                                                <label for="email" class="form-label">Add Book image</label>
                                                <input class="form-control" name="img" type="file" accept=".png, .jpeg, .jpg"  id="file" onkeyup="return fileValidation(this)" required>
                                                <small class="text-muted">The image must have be in jpeg/png format</small>
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="password" class="form-label">Price</label>
                                                <input type="number" class="form-control" name="book_price" placeholder="Price" onkeyup='pincodeValidation(this)' required>
                                            </div>
                                            <div class="row g-2">
                                                <div class="mb-3 col-md-6">
                                                  <label for="password" class="form-label">Book isbn</label>
                                                  <input type="text" class="form-control" name="isbn" placeholder="Book Isbn" onkeyup='pincodeValidation(this)' required>
                                                </div>
                                                <div class="mb-3 col-md-6">
                                                    <label for="state" class="form-label">Available</label>
                                                    <input type="number" class="form-control" name="book_quantity" onkeyup='pinValidation(this)' placeholder="Available" required>
                                                </div>
                                               
                                                
                                            </div>
                                        <div class="mb-3">
                                            <button class="btn btn-success" type="submit"><i class="fas fa-check"></i> Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'vendor/chartsjs/Chart.min.js'%}"></script>
    <script src="{% static 'js/dashboard-charts.js'%}"></script>
    <script src="{% static 'js/scripts.js'%}"></script>

  
</body>

</html>